      ../../.AndroidStudio3.6/
        ../../.VirtualBox/
        ../../.android/
        ../../.atom/
        ../../.bash_history
        ../../.cache/
        ../../.cargo/
        ../../.config/
        ../../.dbus-keyrings/
        ../../.docker/
        ../../.dotnet/
        ../../.gitconfig
        ../../.gitignore
        ../../.ipython/
        ../../.lesshst
        ../../.openjfx/
        ../../.openshot_qt/
        ../../.rustup/
        ../../.software/
        ../../.viminfo
        ../../.vscode/
        ../../3D Objects/
        ../../AppData/
        ../../AvidLogFiles/
        ../../CPU_WIDGET/
        ../../Carta-digital---Gardenias/
        ../../Cats/
        ../../Contacts/
        ../AceMovi Video Editor.lnk
        ../Audio24/
        ../DATA/
        ../Documentos.lnk
        ../ETERNAUTAS BEAT.wav
        ../ETERNAUTAS.wav
        ../Equipo.lnk
        ../Exodus.lnk
        ../Fakin didimo Estudio mix + Master.wav
        ../Horarios.xlsx
        ../ISTEA/
        ../Josemar_2.mp3
        ../Nuevo documento de texto.txt
        ../RVGL Launcher.lnk
        ../Soui uno drill.mp3
        ../TEMAS/
        ../TXT22/
        ../desktop.ini
        ../jose/
        ../pruebas2/
        ../~$Horarios.xlsx
        ../~$M Analista.docx
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../Gatos/
        ../../Helloworld.cbl
        ../../IdeaProjects/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../MicrosoftEdgeBackups/
        ../../Music/
        ../../NTUSER.DAT{e5b48a90-6c8b-11eb-bf14-c71648ec3cb7}.TM.blf
        ../../NTUSER.DAT{e5b48a90-6c8b-11eb-bf14-c71648ec3cb7}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{e5b48a90-6c8b-11eb-bf14-c71648ec3cb7}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../PaceKeyChain
        ../../Pictures/
        ../../Saved Games/
        "../../Screenshot 2022-05-25 at 01-31-24 naranja gajos animado - B\303\272squeda de Google.psd"
        ../../Searches/
        ../../Videos/
        ../../VirtualBox VMs/
        ../../bin/
        ../../blenderkit_data/
        ../../csv
        ../../deemix Music/
        ../../eTeks/
        ../../hello_world/
        ../../json
        ../../ntuser.dat
        ../../ntuser.dat.log1
        ../../ntuser.dat.log2
        ../../ntuser.dat{3d117466-4ffb-11ee-8018-54bef78d1de0}.TxR.0.regtrans-ms
        ../../ntuser.dat{3d117466-4ffb-11ee-8018-54bef78d1de0}.TxR.1.regtrans-ms
        ../../ntuser.dat{3d117466-4ffb-11ee-8018-54bef78d1de0}.TxR.2.regtrans-ms
        ../../ntuser.dat{3d117466-4ffb-11ee-8018-54bef78d1de0}.TxR.blf
        ../../ntuser.dat{3d117467-4ffb-11ee-8018-54bef78d1de0}.TM.blf
        ../../ntuser.dat{3d117467-4ffb-11ee-8018-54bef78d1de0}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{3d117467-4ffb-11ee-8018-54bef78d1de0}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.dat{4dc10ed7-d7c7-11ec-bfba-240a6432ebc2}.TxR.0.regtrans-ms
        ../../ntuser.dat{4dc10ed7-d7c7-11ec-bfba-240a6432ebc2}.TxR.1.regtrans-ms
        ../../ntuser.dat{4dc10ed7-d7c7-11ec-bfba-240a6432ebc2}.TxR.2.regtrans-ms
        ../../ntuser.dat{4dc10ed7-d7c7-11ec-bfba-240a6432ebc2}.TxR.blf
        ../../ntuser.dat{4dc10ed8-d7c7-11ec-bfba-240a6432ebc2}.TM.blf
        ../../ntuser.dat{4dc10ed8-d7c7-11ec-bfba-240a6432ebc2}.TMContainer00000000000000000001.regtrans-ms
        ../../ntuser.dat{4dc10ed8-d7c7-11ec-bfba-240a6432ebc2}.TMContainer00000000000000000002.regtrans-ms
        ../../ntuser.ini
        ../../package-lock.json
        ../../ul.E79C1CDC.SCUS_973.28.01
        ../../ul.cfg
        ../../xml
