/* Encriptador - 1 Desktop */
*{
background: #F3F5FC;
font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;

}

.logo{
padding-top: 10px;
margin-left: 10px;
width: 5%;

}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 30px;
}

.textarea{
    background-color: white;
    border: none;
    border-radius: 24px;
    text-transform: lowercase;
    color: darkblue;
    margin-top: 15px;
    resize: none;
    height: 150px;
}

::placeholder {color: darkblue}
.textarea:focus {
    outline: none;
}

.mensaje{

    background: white;
    background: white url(img/Muñeco.png) no-repeat;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: darkblue;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    resize: none;
}

.mensaje:focus{
    outline: none;
}

h6 img {
    width: 3%;
}

.botones{
    transform: scale(0.7);
    display: flex;
}

.btn-encriptar{
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    height: 80px;
    width: 350px;
    cursor: pointer;
    transition: 400ms;
}

.btn-encriptar:hover{
   transform: scale(1.05);
}

.btn-desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    height: 80px;
    width: 350px;
    margin-left: 10px;
    cursor: pointer;
    transition: 400ms;
}

.btn-desencriptar:hover{
    transform: scale(1.05);
 }

 .sinTexto{
    background-color: white;
    color: #0A3871;
    height: 67px;
    margin-left: 108px;
    margin-top: 300px;
    position: absolute;
    width: 336px;
    transition: 400ms;
 }
    

.copiar{
    border: 1px solid;
    border-radius: 24px;
    color: #0A3871;
    height: 67px;
    margin-left: 108px;
    margin-top: 400px;
    position: absolute;
    width: 350px;
    transition: 400ms;

}
.copiar:hover{
    transform: scale(1.05);
 }

 .alumno p{
    font-size: 15px;
    color: #0A3871;
 }

 .alumno a{
    text-decoration: none;
 }

 .alumno img{
    width: 1%;
 }

 .alumno{
    margin-bottom: 50px;
 }

 @media screen and (max-width: 480px) {

    * {
        font-size: 20px;
        line-height: 30px;
        background-color: rgb(224, 224, 224);
    }


    .logo {
        width: 20%;
        margin-left: 5px;
    }

    main {
        flex-direction: column;
        margin-left: 10px;
    }

    h6{
        margin: 0;
    }

    .textarea {
        width: 95%;
        margin: 15px auto;
    }

    .mensaje {
        margin-left: 0;
        width: 93%;
        height: 30%;
        padding-left: 10px;
        position: static;
    }

    

    .botonCopiar{
        justify-content: center;
    }


    .copiar {
        width: 50%;
        margin-left: 20%;
        margin-top: 15px;
        color: #0A3871;
        background-color: #D8DFE8;
    }
    


    .alumno{
        margin-top: 1px;
    }

    .alumno{
        margin-left: 12%;
    }

    .alumno img {
        width: 3%;
    }
 }