/* Encriptador - 1 Desktop */
*{
background: #F3F5FC;
font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em; 

}

.logo{
padding-top: 10px;
margin-left: 10px;
width: 5%;

}
header{
    
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 30px;
}

.textarea{
    background-color: white;
    border: none;
    border-radius: 24px;
    text-transform: lowercase;
    color: darkblue;
    margin-top: 20px;
    resize: none;
    height: 150px;
}

::placeholder {color: darkblue}
.textarea:focus {
    outline: none;
}

.mensaje{

    background: white;
    background: white url(img/Muñeco.png) no-repeat;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: darkblue;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    resize: none;
}

.mensaje:focus{
    outline: none;
}

/*.mensaje {
    background: white url(img/Muñeco.png) no-repeat;
    animation: levitation 6s linear infinite alternate;
}

@keyframes levitation {
    0%, 100% {
        background-position: top center;
    }
    25% {
        background-position: center 5%;
    }
    75% {
        background-position: center 50%; 
    }
}
*/






h6 img {
    width: 3%;
}

.botones{
    transform: scale(0.7);
    display: flex;
}

.btn-encriptar{
    background-color: #0A3871;
    color: #FFFFFF;
    border-radius: 24px;
    height: 80px;
    width: 350px;
    cursor: pointer;
    transition: 400ms;
}

.btn-encriptar:hover{
   transform: scale(1.05);
}

.btn-desencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    height: 80px;
    width: 350px;
    margin-left: 10px;
    cursor: pointer;
    transition: 400ms;
}

.btn-desencriptar:hover{
    transform: scale(1.05);
 }
    

.copiar{
    border: 1px solid;
    border-radius: 24px;
    color: #0A3871;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    transition: 400ms;

}
.copiar:hover{
    transform: scale(1.05);
 }
